<app-menu></app-menu>
    <!--
<label>StudentList</label> |
<a routerLink="/students/create">Create</a> | 
<input [(ngModel)]="searchCriteria" type="text" placeholder="Search">

<tr *ngFor="let s of students | studentSearch:searchCriteria | sort:'name'">
-->

<label>UserList</label> |
<a routerLink="/users/create">Create</a> 
<div class = "component">
    <table class= "table table-sm table-striped">
        
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Reviewer?</th>
            <th>Admin?</th>
          </tr>
        <tr *ngFor="let u of users" >
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td>{{u.email}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.isReviewer ? "Y" : "N"}}</td>
            <td>{{u.isAdmin? "Y" : "N"}}</td>
            <td>
                <a routerLink="/users/detail/{{u.id}}">Detail</a> |
                <a routerLink="/users/edit/{{u.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>