<app-menu></app-menu>
<label>ProductEdit</label> |
<div class = "component">
    <table class = "table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="product.id" type="number" size="10" disabled>
            </td>
        </tr>
        
        <tr>
            <th>PartNumber:</th>
                <td>
                    <input [(ngModel)]="product.partNbr" type="text" size="20" >
                </td>
        </tr>
        <tr>
            <th>Name:</th>
                <td>
                    <input [(ngModel)]="product.name" type="text" size="20" >
                </td>
        </tr>
        <tr>
                <th>Price:</th>
                    <td>
                        <input [(ngModel)]="product.price" type="number" size="11" >
                    </td>
        </tr>  
        <tr>
            <th>Unit:</th>
                <td>
                    <input [(ngModel)]="product.unit" type="string" size="20" >
                </td>
         </tr> 
         <tr>
            <th>PhotoPath:</th>
                <td>
                    <input [(ngModel)]="product.photoPath" type="string" size="20" >
                </td>
         </tr> 
        <tr>
            <th>Vendor:</th>
            <td>
                <select [(ngModel)]="product.vendorId">
                    <option *ngFor="let v of vendors" value="{{v.id}}">{{v.name}}</option>               
                </select>
            </td>
        </tr>  
        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
        
    </table>
</div>
