<h1>Purchase Request System</h1> 
<div class = "component">
    <table class = "table table-striped table-sm">
       
        
        <tr>
            <th>Username:</th>
                <td>
                    <input [(ngModel)]="user.username" type="text" size="20"maxlength="30" >
                </td>
        </tr>
        <tr>
            <th>Password:</th>
                <td>
                    <input [(ngModel)]="user.password" type="password" size="20" maxlength="30">
                </td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="login(user.username, user.password)" class="btn btn-primary">Login</button>
            </td>
        </tr>
        <tr>
           <span style="color: red">{{msg}}</span>
        </tr>
        
    </table>
</div>

